<ul class="cards">
  <li class="card">
    <a href="api/my_recent_tweets">
      <div class="elmt"><i class="fas fa-user fa-5x"></i></div>
      <h4 class="elmt">my recent tweets</h4>
    </a>
  </li>
  <li class="card">
    <a href="api/follow">
    <div class="elmt"><i class="fas fa-at fa-5x"></i></div>
    <h4 class="elmt">follow</h4>
    </a>
  </li>
  <li class="card">
    <a href="api/followers_recent_tweets">
    <div class="elmt"><i class="fab fa-twitter fa-5x"></i></div>
    <h4 class="elmt">followers' recent tweets</h4>
    </a>
  </li>
  <li class="card">
    <a href="api/tweets_written_by_bot">
    <div class="elmt"><i class="fas fa-robot fa-5x"></i></div>
    <h4 class="elmt">tweets written by bot</h4>
    </a>
  </li>
  <li class="card">
    <a href="api/followers_list">
    <div class="elmt"><i class="fas fa-users fa-5x"></i></div>
    <h4 class="elmt">followers list</h4>
    </a>
  </li>
  <li class="card">
    <a href="api/following_list">
    <div class="elmt"><i class="fas fa-clipboard-list fa-5x"></i></div>
    <h4 class="elmt">following list</h4>
    </a>
  </li>
</ul>