<div class="sidebar">
  <div class="sidebar-menu">
    <ul>
      <li>
        <a href="/dashboard" class="dashboard">
          <span><i class="fas fa-chevron-circle-left"></i></span>
          <span>back to dashboard</span>
        </a>
      </li>
      <li>
        <a href="my_recent_tweets" class="active">
          <span><i class="fas fa-user"></i></span>
          <span>my recent tweets</span>
        </a>
      </li>
      <li>
        <a href="follow" class="active">
          <span><i class="fas fa-at"></i></span>
          <span>follow</span>
        </a>
      </li>
      <li>
        <a href="followers_recent_tweets" class="active">
          <span><i class="fab fa-twitter"></i></span>
          <span>followers' recent tweets</span>
        </a>
      </li>
      <li>
        <a href="tweets_written_by_bot" class="active">
          <span><i class="fas fa-robot"></i></span>
          <span>tweets written by bot</span>
        </a>
      </li>
      <li>
        <a href="followers_list" class="active">
          <span><i class="fas fa-users"></i></span>
          <span>followers' list</span>
        </a>
      </li>
      <li>
        <a href="following_list" class="active">
          <span><i class="fas fa-clipboard-list"></i></span>
          <span>following list</span>
        </a>
      </li>
    </ul>
  </div>
</div>