<%- include('partials/header'); -%>

  <header>
    <div>
      <img src="/twitter.png" alt="twitter logo">
    </div>
    <div class="headings">
      <h3>Welcome</h3>
      <h3>to</h3>
      <h3>Twitter Bot</h3>
      <p>please login to continue</p>
    </div>
    <div>
      <a href="/login/twitter">
        <button>Go to login</button>
      </a>
    </div>
  </header>

  <%- include('partials/footer'); -%>