<%- include('../partials/header'); -%>

  <h1>400 bad request</h1>
  <p>
    <%= errorMsg %>
  </p>
  <a href="/dashboard">
    <button>Go to Dashboard</button>
  </a>

  <%- include('../partials/footer'); -%>