<%- include('../partials/header'); -%>

<h1>404 not found</h1>
<p>We're sorry, this resource is not found</p>
<a href="/dashboard">
  <button>Go to Dashboard</button>
</a>

<%- include('../partials/footer'); -%>